.row{   

    background-color:black;
    color:gold;
    font-size:20px;
    display: flex;
    justify-content: space-around;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}
p{
font-family: 'Parisienne', cursive;
}
h1{
font-family: 'Parisienne', cursive;
    font-size: 130px;
    
}
img{
    width: 100%;
    background-color: blue;
}
body  {
    background-image: url("https://ficardo-weddings.com/images/letter-e-images/alphabet-2010747__340.png");
    background-color: 	#f4fabf	;
}